<!DOCTYPE html>
<h1>
    <head>
        <meta charset="utf-8" />
        <title>Login web</title>
        <link rel="stylesheet" href="style.css" />
    </head>

    <body>
        <div class="css">
            <h1>Login Form</h1>
            <form action="authlogin" method="POST">
                <input type="email" name="email" placeholder="Email" required />
                <input type="password" name="password" placeholder="luwak white kopi,passwordnya?" required />
                <input type="submit" />
                
            </form>
            <br />
            <center><a href="/register">Tidak ada akun?</a></center>
        </div>
    </body>
</h1>
