<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Tes homepage</title>
    </head>
    <body>
        <center>
            <h1>U're Welcome!^^</h1>
            <h1>Your login successfull!</h1>
        </center>
    </body>
</html>